#__bs_notify__ { opacity: 0; }

html, body {
	background-color: white;
	color: black;
	margin: 0;
	padding: 6px 10px;
}

a {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}
a:hover { color: blue; }

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

li { padding-top: 10px; }

.toggle2 { text-decoration: none; }

.information {
	width: 350px;
	max-width: 90vw;
	display: none;
}
.information2 { display: none; }

.small {
	font-family: Arial, sans-serif;
	letter-spacing: 0;
	font-size: 15px;
}
